<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />


    <script src="./javascripts/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="./stylesheets/leaflet-routing-machine.css">


    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

      <script src="javascripts/azulejo.js"></script>

</head>

<body>
    <div class="headerHome">

            <img src="./images/azulejo.jpg" alt="errou"/>

        <div class="login-box">
            <div class="form" id="form">
                <div class="botoes">
                    <div class="username">
                        <input type="text" id="username" placeholder="Username">
                    </div>
                    <div class="password">
                        <input type="password" id="password" placeholder="Password">
                    </div>
                    <button class="btn btn1" id="entrar" onclick="validate()">Entrar</button>
                    <button class="btn btn2" id="registo">Criar Conta</button>
                </div>
            </div>
            <div class="form1" id="form1">
                <div class="botoes">
                    <div class="dados" id="dados">
                    </div>
                    <button class="btn btn1" id="editar">Editar Perfil</button>
                    <button class="btn btn2" id="sair" onclick="logout()">Terminar Sessão</button>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="/">Mapa</a></li>
            <li><a href="azulejo">Lista de Azulejos</a></li>
            <li><a href="equipa">Junta-te à Equipa</a></li>
        </ul>
    </nav>


    <h1>HELLO</h1>



</body>
</html>